In [ ]:
# import the libraries
import numpy as np
import pandas as pd

In [ ]:
# Load the dataset
data = pd.read_csv('/content/Iris.csv')

In [ ]:
# check the dimensions of the dataset
data.shape

(30, 6)

In [ ]:
# to check top few records of the dataset
data.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        1
1   2            4.9           3.0            1.4           0.2        1
2   3            4.7           3.2            1.3           0.2        1
3   4            4.6           3.1            1.5           0.2        1
4   5            5.0           3.6            1.4           0.2        0

In [ ]:
# to check the information of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             30 non-null     int64
 1   SepalLengthCm  30 non-null     float64
 2   SepalWidthCm   30 non-null     float64
 3   PetalLengthCm  30 non-null     float64
 4   PetalWidthCm   30 non-null     float64
 5   Species        30 non-null     int64
dtypes: float64(4), int64(2)
memory usage: 1.5 KB

In [ ]:
# Split the data into features and labels
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [ ]:
# Normalize the features
X = (X - np.mean(X, axis=0)) / np.std(X, axis=0)

In [ ]:
# Split the data into training and testing sets
test_size = 0.3
train_size = 1 - test_size
num_samples = len(data)
num_train_samples = int(num_samples * train_size)
num_test_samples = num_samples - num_train_samples

X_train = X[:num_train_samples]
y_train = y[:num_train_samples]
X_test = X[num_train_samples:]
y_test = y[num_train_samples:]

In [ ]:
# Define the KNN classifier function
def knn_classifier(X_train, y_train, X_test, k):
    distances = np.sqrt(np.sum((X_train - X_test)**2, axis=1))
    sorted_indices = np.argsort(distances)[:k]
    nearest_labels = y_train[sorted_indices]
    unique_labels, counts = np.unique(nearest_labels, return_counts=True)
    prediction = unique_labels[np.argmax(counts)]
    return prediction

In [ ]:
# Classify the test samples
k = 6
predictions = np.zeros(num_test_samples)
for i in range(num_test_samples):
    predictions[i] = knn_classifier(X_train, y_train, X_test[i], k)

In [ ]:
# Evaluate the accuracy
accuracy = np.sum(predictions == y_test) / num_test_samples
print(f"Accuracy: {accuracy}")

Accuracy: 0.5555555555555556